:root {
	/* --bg: #e3e2d8;
	--main: black;
	--text: #333333; */
	--bg: #fffcf2;
	--main: black;
	--text: #403d39;
  
  }

body {
	background-color: var(--bg);
	flex-direction: column;
    font-family: Calibri, Arial, sans-serif;
    font-size: 4vh;
    font-weight: lighter;
    color: var(--text);
}

.photos {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
img {
	display: block;
	width: 25%;
	margin-left: auto;
    margin-right: auto;
    padding: 4%;
}
.back {
	display: block;
	color: var(--text);
    text-decoration: none;
	margin: 6vh auto 3vh;
	width: fit-content;
}

@media screen and (max-aspect-ratio: 3/2) {
	.back {
		margin: 6vh auto 2vh;
	}
}

@media screen and (max-width: 600px){
	img {
		width: 80%;
	}
}