:root {
	/* --bg: #e3e2d8;
	--main: black;
	--text: #333333; */
	--bg: #fffcf2;
	--main: black;
	--text: #403d39;
  
  }

body {
	background-color: var(--bg);
	flex-direction: column;
	
}

.photos {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
img {
	display: block;
	width: 25%;
	margin-left: auto;
    margin-right: auto;
    padding: 4%;
}

@media screen and (max-width: 600px){
	img {
		width: 80%;
	}
}