@font-face {
    font-family: 'Octarine';
    src: url('OctarineFree/Octarine-Light.woff2') format('woff2'),
        url('OctarineFree/Octarine-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Octarine';
    src: url('OctarineFree/Octarine-BoldOblique.woff2') format('woff2'),
        url('OctarineFree/Octarine-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Octarine';
    src: url('OctarineFree/Octarine-LightOblique.woff2') format('woff2'),
        url('OctarineFree/Octarine-LightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Octarine';
    src: url('OctarineFree/Octarine-Bold.woff2') format('woff2'),
        url('OctarineFree/Octarine-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

