:root {
    /* --bg: #e3e2d8;
    --main: black;
    --text: #333333; */
    --bg: #fffcf2;
    --main: black;
    --text: #403d39;
    cursor: crosshair;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  html {
    height: -webkit-fill-available;
  }
body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 23px;
    font-weight: 200;
    color: var(--text);
    background-color: var(--bg);
    /* height: 100vh; */
    width: 100%;
}

h1 {
    font-size: 55px;
    font-weight: lighter;
    padding-top: 3%;
    text-align: center;
    margin: 0;
}

a {
    cursor: default;
}

.contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    border: 2px solid black;
    width: 30%;
    height: 60vh;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    font-size: 4vh;
    line-height: 6vh;
    text-align: center;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

p {
    height: 3%;
}

.ul {
    color: var(--text);
    text-decoration: none;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.back {
    color: var(--text);
    text-decoration: none;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.ul:after {
    display: block;
    overflow: hidden;
    position: absolute;
    right: 0;
    /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;
    /*задаём длинну линии до наведения курсора*/
    height: 2px;
    /*задаём ширину линии*/
    background-color: black;
    /*задаём цвет линии*/
    content: "";
    -webkit-transition: width 0.3s ease-out;
    -o-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out;
    /*задаём время анимации*/
}

.ul:hover:after, .ul:focus:after {
    width: 100%;
}

.back {
    margin-top: 3vh;
}


/* горизонтальные линии возле заголовка */

.lines {
    overflow: hidden;
}

.lines:before, .lines:after {
    content: '';
    /* делаем линию строчно-блочной */
    display: inline-block;
    /* выравниваем вертикально по середине */
    vertical-align: middle;
    /* не позволяем ширине превысить 100% (будет добавлен бордюр) */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* установка ширины в 100% делает линию равной ширине тега заголовка
	** благодаря этому линия заполнит все свободное пространство
	** слева и справа от текста
	*/
    width: 11vw;
    height: 3px;
    background: #080808;
    /* добавляем к линии левый и правый бордюр цветом основного фона заголовка
	** благодаря этому создается нужный отступ между линиями и текстом
	*/
    border: solid var(--bg);
    border-width: 0 19px;
}

.lines:before {
    /* смещаем левую линию влево отрицательным отступом, равным 100% ширины
	** благодаря этому линия встает слева от текста
	*/
    margin-left: -100%;
}

.lines:after {
    /* смещаем правую линию вправо отрицательным отступом, равным 100% ширины
	** благодаря этому линия встает справа от текста
	*/
    margin-right: -100%;
}

@media screen and (max-aspect-ratio: 3/2) {
    .contacts {
        width: 40vw;
    }
    .lines:before, .lines:after {
        width: 15vw;
        height: 3px;
        border-width: 0 19px;
    }
}

@media screen and (max-aspect-ratio: 8/11) {
    .contacts {
        margin-top: 12vh;
        border: none;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        font-size: 4vh;
        line-height: 7vh;
        text-align: center;
    }
    .ul:after {
        height: 1px;
    }
    .lines:after {
        display: none;
    }
    .lines:before {
        display: none;
    }
}
@media only screen and (max-aspect-ratio: 8/11) and (orientation:landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
      }
  }