:root {
    --bg: #fffcf2;
    --main: black;
    --text: #403d39;
    --height: 250px;
    --grid-size: 450px;
    --ratio: 1.2;
    cursor: crosshair;
    user-select: none;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--bg);
    font-family: Octarine;
    font-size: 4vh;
    font-weight: 300;
    color: var(--text);
    margin: 0;
    max-width: 100vw;
}

.gallery {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    max-width: 96vw;
    margin: 0.5vh 0.3vw;
}

img {
    display: inline;
    object-fit: cover;
    height: var(--height);
    width: calc( var(--height) * var(--ratio));
    filter: grayscale(100%);
    padding: 1.3px;
    transition: filter 1.9s ease-in-out;
    transition: opacity 0.8s linear;
}

img[data-src] {
    filter: grayscale(100%) blur(20px);
}

img:hover {
    filter: grayscale(0);
    cursor: default;
}

.opacity {
    opacity: 0;
}

.fixed {
    position: fixed;
    width: 3vw;
    height: 100vh;
    right: 0;
    bottom: 0;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 70%;
}
.vertical {
    display: none;
}
.back {
    position: relative;
    margin: 7px auto 0;
    line-height: 80%;
    color: var(--text);
    text-decoration: none;
    font-family: Octarine;
    cursor: default;
}

@media screen and (max-aspect-ratio: 8/11) {
    .gallery {
        max-width: 99vw;
        margin: 0.5vh 0.5vw;
    }
    .fixed {
        width: 100vw;
        height: 4.5vh;
        left: 0;
    }
    img {
        width: 100%;
        filter: grayscale(0);
    }
    .back {
        margin: auto;
    }
    .horizontal {
        display: none;
    }
    .vertical {
        display: block;
    }

}