:root {
    --bg: #fffcf2;
    --main: black;
    --text: #403d39;
    --control-color: #d4941c;
    --height: 250px;
    --grid-size: 450px;
    --fullscreen-size: 1500px;
    --ratio: 1.2;
    cursor: crosshair;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-font-smoothing: antialiased;
}

html {
    height: -webkit-fill-available;
}


/* scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-color: var(--bg);
    /* font-family: Octarine; */
    /* font-family: 'Righteous', cursive; */
    /* font-family: 'Patua One', cursive; */
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 4vh;
    font-weight: 400;
    color: var(--text);
    margin: 0;
    max-width: 100vw;
    perspective: 4000px;
    -webkit-perspective: 4000px;
    overflow: hidden;
    height: 100%;
}

.opacity {
    opacity: 0;
}

a {
    text-decoration: none;
    color: var(--text);
}

a, img {
    cursor: default;
}

.gallery, .back-wrapper {
    max-width: 2560px;
}

.gallery {
    overflow-y: scroll;
    position: absolute;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100vw;
    height: 99.7%;
    right: 100vw;
    padding-top: 0.2%;
    background-color: var(--bg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}

.slideDown {
    right: 0;
}

.gallery img {
    display: inline;
    -o-object-fit: cover;
    object-fit: cover;
    height: var(--height);
    width: calc( var(--height) * var(--ratio));
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    padding: 1.3px;
    -webkit-transition: -webkit-filter 0.6s ease-in-out;
    transition: -webkit-filter 0.6s ease-in-out;
    -o-transition: filter 0.6s ease-in-out;
    transition: filter 0.6s ease-in-out;
    transition: filter 0.6s ease-in-out, -webkit-filter 0.6s ease-in-out;
}

.gallery img[data-src] {
    -webkit-filter: grayscale(100%) blur(20px);
    filter: grayscale(100%) blur(20px);
}

.gallery img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.fs-image {
    display: inline;
    -o-object-fit: contain;
    object-fit: contain;
    height: unset;
    width: unset;
    max-width: 90%;
    max-height: 90%;
    -webkit-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

.visible {
    pointer-events: unset;
}

.back-wrapper {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: var(--bg);
    left: 0;
}

.fs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    width: 100%;
    height: 100%;
    background-color: var(--bg);
}

.fs-image-wrapper {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 94%;
    min-width: 80%;
    width: 85%;
    max-width: 98%;
}

.controls {
    z-index: 11;
    cursor: default;
}

.back-wrapper nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10vw;
    padding-bottom: 5px;
}

.back-btn {
    position: relative;
    z-index: 11;
    cursor: default;
}

.unclickable {
    pointer-events: none;
}

.animation {
    opacity: 100%;
    -webkit-animation: animation 1.5s;
    animation: animation 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.reverse-animation {
    -webkit-animation: reverse-animation 1.5s;
    animation: reverse-animation 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animation {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    50% {
        -webkit-transform: rotateY(90deg) rotateX(-40deg);
        transform: rotateY(90deg) rotateX(-40deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    to {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

@keyframes animation {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    50% {
        -webkit-transform: rotateY(90deg) rotateX(-40deg);
        transform: rotateY(90deg) rotateX(-40deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    to {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

@-webkit-keyframes reverse-animation {
    from {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    50% {
        -webkit-transform: rotateY(270deg) rotateX(40deg);
        transform: rotateY(270deg) rotateX(40deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes reverse-animation {
    from {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    50% {
        -webkit-transform: rotateY(270deg) rotateX(40deg);
        transform: rotateY(270deg) rotateX(40deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@-webkit-keyframes image-in {
    from {
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
    50% {
        -webkit-clip-path: polygon(0 0, 0 0, 100% 0, 0 100%);
        clip-path: polygon(0 0, 0 0, 100% 0, 0 100%);
    }
    to {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes image-in {
    from {
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
    50% {
        -webkit-clip-path: polygon(0 0, 0 0, 100% 0, 0 100%);
        clip-path: polygon(0 0, 0 0, 100% 0, 0 100%);
    }
    to {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@media screen and (max-aspect-ratio: 8/11) {
    .gallery {
        width: 100vw;
        margin: 0 0;
        scrollbar-width: none;
    }
    .gallery::-webkit-scrollbar {
        display: none;
    }
    .back-wrapper {
        width: 100vw;
    }
    .gallery img {
        width: 100%;
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
    .controls {
        position: absolute;
    }
    .left-btn {
        left: 3vw;
        bottom: 0.4vh;
    }
    .right-btn {
        right: 3vw;
        bottom: 0.4vh;
    }
    .fs-image-wrapper {
        width: 100vw;
        max-width: unset;
    }
    .fs-image {
        width: 100%;
        max-height: 110vh;
        max-width: unset;
    }
}

@media only screen and (max-aspect-ratio: 8/11) and (orientation:landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}